@keyframes downgrade {
    from{
        transform: translateY(-200px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes leftgrade {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes rightgrade {
    from{
        transform: translateX(200px);
        opacity: 0;
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes upgrade {
    from{
        transform: translateY(100px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes munculKeAtas {
    0% {
        transform: translateY(100px) scale(0); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0) scale(1); 
        opacity: 1; 
    }
}

@keyframes munculKeBawah {
    0% {
        transform: translateY(-80px) scale(0); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0) scale(1); 
        opacity: 1; 
    }
}

.upAnimate{
    animation: munculKeAtas 1s ease forwards; /* menjalankan animasi */
}

.downAnimate{
    animation: munculKeBawah 1s ease forwards; /* menjalankan animasi */
}

.downgrade{
    animation: downgrade 3s ease; 
}

.leftgrade{
    animation: leftgrade 3s ease; 
}

.rightgrade{
    animation: rightgrade 3s ease; 
}

.upgrade{
    animation: upgrade 3s ease; 
}