.reveal{
    position: relative;
    z-index: -5;
    transform: translateY(1.8rem) !important;
    opacity: 0;
    transition: all 1s ease forwards;
}

.reveal.active{
    z-index: 5;
    transform: translateY(0rem) !important;
    opacity: 1;
}