.fc-purple2{
    color: var(--colorTransparent2)
}

.fs-5{
    font-size: 5rem;
}

.fs-3{
    font-size: 3rem
}

.lowercase{
    text-transform: lowercase !important;
}

.mb-1{
    margin-bottom: 1rem;
}

.pointer{
    cursor: pointer;
}

.transform:hover{
    transition: .5s ;
    transform: scale(1.15);
}


/* element */
.tombol{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    background-color: var(--colorTransparent1);
}

/* tampilan */
.display-none{
    display: none;
}

.hidden{
    display: none;
}