@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root{
    --pink: #f14e95;
    --white: #fff;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.2);
    --rgba3 :rgba(0, 0, 0, .5);
    --rgba5 : rgba(255, 255, 255, .5);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.pink{
    color: var(--pink)
}

h1{
    font-size: 7rem;
    font-weight: bolder;
    text-shadow: var(--shadow);
    font-family: 'sacramento', cursive;
    text-align: center;
    color: var(--pink)
}

h2{
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: var(--shadow);
}

a{
    padding: .5rem 3rem;
    border-radius: 30px;
    background-color: var(--pink);
    color: var(--white);
    font-size: 3rem;
    text-decoration: none;
}

a.btn{
    background-color: var(--pink);
    padding: .7rem 1.5rem;
    border: none !important;
    outline: none !important;
    font-size: 1.4rem;
}

.clear{
    clear: both;
}

.card{
    background-color: var(--rgba3);
    border: 1px solid var(--white);
}

.card-header{
    border-bottom: 1px solid var(--white);
}

.card-footer{
    border-top: 1px solid var(--white);
}

.reveal{
    position: relative;
    z-index: -5;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.7s ease-in-out;
}

.reveal.active{
    z-index: 5;
    transform: translateY(0px);
    opacity: 1;
}

.display{
    display: none;
}

.about h4, .info-acara h4, .info-tamu h4{
    font-family: 'sacramento', cursive;
    color: var(--pink);
    font-weight: bold;
    font-size: 3rem;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/wedding-1353829_640.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Sacramento', cursive;
}

.hero h2.downgrade{
    animation: downgrade 3s ease; 
}

.hero h1.leftgrade{
    animation: leftgrade 3s ease; 
}

.hero a.rightgrade{
    animation: rightgrade 3s ease; 
}

.hero .upgrade{
    animation: upgrade 3s ease; 
}

/* simply countdown */
.simply-countdown{
    overflow:hidden;
    display:table;
    font-family: 'poppins';
}

.simply-countdown>.simply-section{
    padding: 10px;
    box-sizing: border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    float:left;
    margin:15px;
    box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.simply-countdown>.simply-section .simply-amount,.simply-countdown>.simply-section .simply-word{
    color: var(--pink);
    text-align:center;
}

.simply-section .simply-word{
    font-size: 1.5rem;
    font-weight: bold;
}

.simply-section .simply-amount{
    font-size: 3rem;
    color: var(--pink);
    font-weight: 500;
}

nav{
    padding: 1rem 0 !important;
    box-shadow: var(--shadow);
    font-family: 'poppins';
    background-color: var(--rgba5);
}

nav h3{
    color: var(--pink) !important;
    font-size: 4rem !important;
    font-weight: 500;
    font-family: 'sacramento';
}

nav  span .navbar-toggler-icon, nav span{
    font-size: 2rem;
    color: var(--pink) !important;
}

.info-acara h4,.info-tamu h4{
    color: var(--white);
    letter-spacing: 3px;
    font-weight: 400;
}

.timeline .containres{
    position: relative;
    width: 100%;
}

.timeline .containres::after{
    position: absolute;
    z-index: 1;
    top: 0;
    right: calc(50% - 15px);
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--pink);
}

.timeline ul{
    list-style: none;
}

.timeline ul li{
    padding: 2rem 3rem;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--shadow);
    width: 50%;
    margin: 3rem 0;
    position: relative;
    transition: 2s;
}

.timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: right;
}

.timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}

.timeline ul li:nth-child(4){
    margin-bottom: 0;
}

.timeline ul li::after{
    position: absolute;
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--pink);
    top: -3rem;
    right: calc(-44px);
}

.timeline ul li:nth-child(even)::after{
    left: calc(-36px);
}

.timeline ul li h4.badge-pink{
    position: absolute;
    padding: .75rem 1.5rem;
    border-radius: 20px;
    color: var(--white) !important;
    background-color: var(--pink);
    top: -2rem;
    right: 0;
}

.timeline ul li:nth-child(even) h4.badge-pink{
    position: absolute;
    padding: .75rem 1.5rem;
    border-radius: 20px;
    color: var(--white) !important;
    background-color: var(--pink);
    top: -2rem;
    left: 0;
    right: auto;
}

.gallery img{
    height: 450px;
}

.komentar .tombols{
    background-color: var(--pink);
    color: var(--white);
}

.audio .row .col-6{
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
}

.footer{
    background-color: var(--pink);
}

.footer .card{
    background: transparent;
}

.footer .card ul li{
    background: transparent !important;
}

@media (max-width: 992px){
    h1{
        font-size: 4rem;
        text-shadow: none;
    }

    h2{
        font-size: 3.5rem;
        text-shadow: none;
    }

    a{
        padding: .5rem 2rem;
    }

    nav h3{
        font-size: 3.5rem !important;
    }

    .simply-countdown>.simply-section{
        padding: 5px;
        margin: 5px;
    }
    
    .simply-section .simply-word{
        font-size: 1rem;
    }
    
    .simply-section .simply-amount{
        font-size: 2rem;
        color: var(--pink)
    }

    .col-right{
        margin-top: 50px;
    }

    .info-cinta .timeline{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .timeline .containres::after{
        left: 0;
    }

    .timeline ul li{
        width: 100%;
    }
    
    .timeline ul li:nth-child(odd){
        float: right;
        clear: left;
        transform: translateX(0);
    }

    .timeline ul li:nth-child(even){
        transform: translateX(0);
    }

    .timeline ul li:nth-child(odd){
        text-align: left;
    }

    .timeline ul li::after{
        left: calc(-30px);
    }
    
    .timeline ul li:nth-child(even)::after{
        left: calc(-30px);
    }

    .gallery img{
        height: 350px;
    }

}

@keyframes downgrade {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes leftgrade {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes rightgrade {
    from{
        transform: translateX(100px);
        opacity: 0;
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes upgrade {
    from{
        transform: translateY(100px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}